@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --black-color: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

.container {
  width: 1400px;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 3.125rem;
}
header nav {
  width: 18%;
}
header nav ul {
  list-style-type: none;
  color: var(--black-color);
}
header nav ul li {
  text-align: center;
}
header nav ul li a {
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 0;
  height: 1.45px;
  background-color: var(--black-color);
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}
header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
header nav ul li .active_page {
  font-weight: bold;
}
header .logo {
  text-align: center;
  width: 50%;
}
header .logo p {
  font-weight: 100;
  text-transform: uppercase;
  color: #a0a0a0;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
header .logo p span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  color: var(--black-color);
}
header .user_menu {
  width: 13%;
}
header .user_menu img {
  width: 1.6rem;
  object-fit: contain;
}

.main {
  height: 600px;
}

footer {
  padding: 4.875rem;
  margin: 0 auto;
  background-color: var(--black-color);
  align-items: center;
}
footer .footer_nav_leftBar {
  width: 8%;
  text-align: center;
}
footer .footer_nav_leftBar ul {
  height: 7.625rem;
}
footer .footer_nav_leftBar ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
}
footer .footer_logo {
  width: 60%;
  position: relative;
}
footer .footer_logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
footer .footer_logo img:last-of-type {
  z-index: 1;
}
footer .footer_nav_rightBar {
  width: 8%;
  text-align: center;
}
footer .footer_nav_rightBar ul {
  height: 7.625rem;
}
footer .footer_nav_rightBar ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.05rem;
}